// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/* Hide scrollbar for Chrome, Safari and Opera */

html {
    scroll-behavior: smooth;
}

.example::-webkit-scrollbar {
    display: none;
}


/* Hide scrollbar for IE, Edge and Firefox */

.example {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

#section1 {
    background-image: image-url("image.jpg");
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    font-family: "Raleway";
    align-items: center;
}

.title-text {
    color: white;
    font-size: 48px;
    text-align: center;
    top: 10vh;
}

.title-text span {
    color: #0e98f4;
}

.more-text {
    text-align: center;
    color: white;
    margin-top: 5vh;
}

.glow-on-hover {
    padding: 15px;
    padding-left: 18px;
    padding-right: 18px;
    font-size: 18px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 25%;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

#section2 {
    padding-top: 15vh;
    font-family: "Raleway";
    background-color: #fff;
}

.fl {
    display: flex;
}

.about span {
    font-size: 5vh;
    color: #1b75d6;
    padding-bottom: 2vh;
}

.about {
    font-size: 3vh;
    margin-right: 3vw;
    color: #848080;
}

.profile {
    width: 30vh;
    height: 28vh;
    background-size: fit;
    background-repeat: no-repeat;
    border-radius: 80%;
}

.connect span {
    font-size: 3vh;
    color: #1b75d6;
    padding-bottom: 2vh;
}

.connect {
    margin-top: 4vh;
}

.connect a {
    font-size: 2.2vh;
}

.fa {
    padding-top: 2vh;
    font-size: 7vh;
    width: 3vw;
    height: 3vw;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.icon {
    width: 4.5vh;
    height: 4.5vh;
    margin-right: 0.5vw;
    ;
}

.fa-facebook {
    background: #3B5998;
    color: white;
    border-radius: 50%;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
    border-radius: 50%;
}

.fa-instagram {
    background: #dd4b39;
    color: white;
    border-radius: 50%;
}

.fa-google {
    background: #dd4b39;
    color: white;
    border-radius: 50%;
}

.fa-file {
    background: #3B5998;
    color: white;
    border-radius: 50%;
}

#section3 {
    background-color: #F5F5F5;
    padding-bottom: 8vh;
}

#section4 {
    background-color: #262A34;
    border-top: 5px solid #1b75d6;
    text-align: center;
}

.text-box {
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 3vh;
}

.btn {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px !important;
    font-family: "raleway";
    border-radius: 100px !important;
    transition: all .3s;
    font-size: 3vh;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgb(255, 255, 255);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgb(255, 255, 255);
}

.btn-white {
    background-color: #1b75d6;
    color: #fff;
    font-size: 2vh !important;
}

.btn::after {
    content: "";
    height: 100%;
    width: 100%;
    border-radius: 100px;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.cards {
    height: 38vh;
    // background-color: red;
    // border: 4px solid blue;
}

#section5 {
    background-color: #1C252F;
    color: #1b75d6;
    text-align: center;
    padding-top: 3vh;
    padding-bottom: 3vh;
    font-family: "raleway";
}

#p1 {
    background-image: image-url("digital.jpg");
    background-size: 100% 100%;
}

#p2 {
    background-image: image-url("abo.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#p3 {
    background-image: image-url("xnotes.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.flip-card {
    background-color: transparent;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    /* Remove this if you don't want the 3D effect */
    padding-left: 0px !important;
    padding-right: 0px !important;
}


/* This container is needed to position the front and back side */

.flip-card-inner {
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}


/* Do an horizontal flip when you move the mouse over the flip box container */

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}


/* Position the front and back side */

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}


/* Style the front side (fallback if image is missing) */

.flip-card-front {
    background-color: #bbb;
    color: black;
}


/* Style the back side */

.flip-card-back {
    background-color: #1b75d696;
    background: linear-gradient(0deg, rgba(2, 103, 235, 0.645), rgba(2, 103, 235, 0.945)), url('digital.jpg');
    background-size: 100% 100%;
    color: white;
    transform: rotateY(180deg);
}

@import url(https://fonts.googleapis.com/css?family=Raleway);
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@media screen and (max-width: 640px) {
    .container {
        display: block;
        width: 100%;
    }
}

@media screen and (min-width: 900px) {
    .container {
        width: 33.33333%;
    }
}

.container .title {
    color: #1a1a1a;
    text-align: center;
    margin-bottom: 10px;
}

.content {
    position: relative;
    width: 100%;
    padding-right: 0px !important;
    padding-left: 0px !important;
    overflow: hidden;
}

.content .content-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
    opacity: 1;
}

.content-image {
    width: 100%;
}

.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1;
}

.content-details h3 {
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}

.content-details p {
    color: #fff;
    font-size: 0.8em;
}

.fadeIn-bottom {
    top: 80%;
}

.mask {
    background-color: #000;
    height: 10000px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    display: none;
    z-index: 9998;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}

#quick-view-pop-up {
    font-family: "raleway";
    display: none;
    background: #fff;
    border: 1px solid #999;
    z-index: 9998;
    position: absolute;
    top: 25vh !important;
    left: 25vw !important;
}

.quick-view-panel {
    z-index: 9999;
}

.quick-view-loading {
    width: 100%;
    float: left;
    display: none;
}

.image-large {
    float: left;
    top: 10px;
    width: 290px;
    overflow: hidden;
    display: block;
    left: 0;
}

.quick-view-close {
    opacity: 1;
    position: absolute;
    right: 20px;
    top: 6px;
    cursor: pointer;
    z-index: 10;
    display: block;
    background-repeat: no-repeat;
    height: 24px;
    background-position-x: -78px;
}

.detail {
    width: 315px;
    float: left;
    margin: 40px 31px 40px 31px;
}

.product-details {
    margin-bottom: 20px;
    float: left;
}

.product-name {
    margin-bottom: 20px;
}

.blue {
    margin-bottom: 15px;
    width: 100%;
    background-color: #1b75d696;
    color: #FFF;
    padding: 9px 21%;
    text-align: center;
    border-radius: 10px;
    text-transform: uppercase;
}

.buttons {
    margin-bottom: 20px;
}

a.view-more-detail {
    float: left;
    width: 81%;
    background-color: #356890;
    padding: 5% 5%;
    text-transform: uppercase;
    text-align: center;
    color: #FFF;
}